<div>
    <div class="card my-2">
        <div class="card-body">
            <h4 class="card-title text-info feedback-title">{{feedback.title}}</h4>
            <h5 class="card-subtitle text-muted">Posted by: {{feedback.username}}</h5>
            <h6 class="card-subtitle text-muted my-1">{{feedback.creation_date.strftime('%b %d %Y %H:%M')}}</h6>
            <p class="card-text">{{feedback.content}}</p>
            {% if session['username'] == feedback.username %}
            <form style="display:inline" action="/users/{{feedback.username}}/{{feedback.id}}/edit" method="POST">
                <button class="btn btn-sm btn-primary">Edit Feedback!</button>
            </form>
            <form style="display:inline" action="/users/{{feedback.username}}/{{feedback.id}}/delete" method="POST">
                <button class="btn btn-sm btn-danger">Delete Feedback!</button>
            </form>
            {% endif %} 

        </div>
    </div>
</div>