{% extends 'base.html' %}
<html>
    <body>
        {% block body %}
            <h1>hello it is the hompage</h1>
                 {% if session['username'] %}
                    <h3>Currently logged in as {{session['username']}}</h3>
                 {% else %}
                    <h3>Not logged in yet</h3>
                 {% endif %}
            <form action="/register">
                <button>Register a new user!</button>
            </form>
            <form action="/login">
                <button>Login!</button>
            </form>
            <form action="/logout">
                <button>Logout! </button>
            </form>

            {% if session['username'] %}
                <form action="/users/{{session['username']}}">
                    <button>See my info</button>
                </form>
            {% endif %}

            <h1>Here are our users</h1>
            <ul>
                {% for user in users %}
                    <li>{{user}}</li>
                {% endfor %}
            </ul>
        {% endblock %}
    </body>
</html>