{% extends 'base.html' %}
<html>
    <body>
        {% block body %}
            <h1>hello it is the hompage</h1>
                 {% if session['username'] %}
                    <h3>Currently logged in as {{session['username']}}</h3>
                 {% else %}
                    <h3>Not logged in yet</h3>
                 {% endif %}


            {% if session['username'] %}
                <form action="/users/{{session['username']}}">
                    <button>See my info</button>
                </form>
            {% endif %}

            <h1>Feedback we have received</h1>
            <ul>
                {% for feedback in all_feedback %}
                {% include '/includes/cards/_feedbackCard.html'   %}


                {% endfor %}
            </ul>
        {% endblock %}
    </body>
</html>