{% extends 'base.html' %}
<html>
    <body>
        {% block body %}
            <h1>Greetings {{user.username}}!</h1>
            <h3>Here is your information</h3>
            <ul>
                <li>username: {{user.username}}</li>
                <li>first name: {{user.first_name}}</li>
                <li>last name: {{user.last_name}}</li>
                <li>email:{{user.email}}</li>
            </ul>
            <form action="/users/{{user.username}}/feedback/add">
                {% include '/includes/buttons/_feedbackButton.html'   %}
            </form>

            <h1>Feedback posted by {{user.username}}</h1>
            {% for feedback in user.feedback %}
                {% include '/includes/cards/_feedbackCard.html'   %}
            {% endfor %}


        {% endblock %}
    </body>
</html>